
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ title or 'Elections' }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/piratar.css') }}">
  <!--link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"-->
</head>
<body>
  <header class="header">
    <nav class="nav container">
      <a href="{{ url_for('main.index') }}" class="brand" aria-label="Heim">
      <img class="brand-mark"
        src="{{ url_for('static', filename='design/BW-Merki-Piratar/White-Circle-logo.png') }}"
        alt="Píratar" />
        <span class="brand-text">PÍRATAR</span>
      </a>

      <div class="nav-right">
        {% if session.get('kennitala') %}
          <span class="tag">Innskráður: {{ session.get('kennitala') }}</span>
          {% if is_admin %}
            <a class="nav-link" href="{{ url_for('admin.home') }}">Stjórnborð</a>
          {% endif %}
          <a href="{{ url_for('main.logout') }}" class="btn">Skrá út</a>
        {% else %}
          <a href="{{ url_for('main.login') }}" class="btn">Skrá inn</a>
        {% endif %}
      </div>
    </nav>
  </header>

  <main>
    {% block bands %}
    <section class="band band--panel">
      <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="flash-wrap">
              {% for cat,msg in messages %}
                <div class="flash {{cat}}">{{ msg }}</div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
      </div>
    </section>
    {% endblock %}
  </main>


  <footer class="site-footer">
    <div class="container">
      <strong>PÍRATAR</strong> ·
      <a href="mailto:piratar@piratar.is">piratar@piratar.is</a>
    </div>
  </footer>
</body>

</html>
